@charset "UTF-8";

html {
    background-color: #8888dd91;
}
/* Hexadecimal (16) - 0 1 2 3 4 5 6 7 8 9 A B C D E F */

h1 {
    color: rgba(100, 50, 30, 0.6);
}
/* RGB - 0 a 255 */

p {
    display: inline;
    color: hsla(244, 85%, 38%, 0.9);
}
/* HSL - cor, saturação, luminosidade */

div.teste {
    display: inline;
}

span.teste {
    display: block;
}
/* Isso foi um teste. */

div.d1 {
    max-width: 500px;
}

.s1 {
    display: inline-block;
    width: 400px;
    height: 400px;
}

p.pa {
    display: block;
}
